
.contacts-card {
  padding: 20px;
}

.mat-table {
  width: 100%;
}

.mat-icon {
  vertical-align: middle;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  gap: 20px;  
  padding: 15px 0;  
  cursor: pointer;
}

.button-container button {
  cursor: pointer;
  margin: 0;
  padding: 10px 20px;  
  font-size: 14px;  
  text-transform: capitalize;  
  border-radius: 5px;  
}

.button-container button.mat-raised-button {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.button-container button[color="primary"] {
  background-color: #72b8ac;
  cursor: pointer;
}


.button-container button:hover {
  opacity: 0.8; 
  transition: opacity 0.3s; 
}
.editBtn{
  background: none;
  border: none;
  cursor: pointer;
}
.primary-contact-box {
 display: flex;
 justify-content: center;
}
.plain-button {
background-color: transparent !important; 
box-shadow: none !important;  
border: none;
outline: none;
cursor: pointer;
}

.name{
cursor: pointer;
}

.custom-dialog-container {
  min-width: none !important;
  max-width: none !important;
  width: 80% !important;
}

// @media (max-width: 768px) {
//   .button-container {
//     flex-direction: column; /* Stack buttons vertically */
//     align-items: stretch; /* Ensure buttons span full width */
//   }

//   .button-container button {
//     margin-bottom: 10px; /* Add spacing between stacked buttons */
//   }
// }