// .chart-container {
//   display: block;
//   width: 100%;
//   height: 100vh; /* Make sure it takes up the entire viewport height */
// }

// ngx-graph {
//   width: 100%;
//   height: 100%;
//   display: block;
// }
.edge {
  stroke: black;  /* Ensure the link is visible */
  fill: none;
}
 
.line {
  stroke: black;
  stroke-width: 2;
}
 
.edge-label {
  font-size: 12px;
}
 
.chart-container {
  width: 100%;
  height: 100%;
}
 
.genogram-container {
  display: flex;
  flex-direction: column;
}
 
.genogram-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.close-button {
  background: none;
  border: none;
  cursor: pointer;
}
.close-icon{
  position: absolute;
  right: 0;
  margin:5px;
  // padding: 5px;
  margin-right: 20px;
  border: 1px solid black;
}
.close-icon:hover{
  background-color: red;
}