<h5 class="chart-title">Genogram - {{ name }}</h5>
<mat-icon class="close-icon" (click)="closeGenogram()">close</mat-icon>
<div class="legend-container">
  <div class="legend-items">
    <div class="legend-item">
      <div class="legend-icon child"></div>
      <span>Child</span>
    </div>
    <div class="legend-item">
      <div class="legend-icon primary"></div>
      <span>Primary Contact</span>
    </div>
    <div class="legend-item">
      <div class="legend-icon relation"></div>
      <span>Relations</span>
    </div>
  </div>
</div>
  <ngx-graph
    [layout]="'dagreCluster'"
    [view]="[900, 1000]"
    [links]="links"
    [nodes]="nodes"
    [layoutSettings]="layoutConfig"
    class="genogram-graph">
    
    <ng-template #defsTemplate>
      <svg:marker id="arrow-forward" viewBox="0 -5 10 10" refX="10" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
      </svg:marker>
      <svg:marker id="arrow-reverse" viewBox="0 -5 10 10" refX="0" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <svg:path d="M10,-5L0,0L10,5" class="arrow-head" />
      </svg:marker>
    </ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <rect [attr.width]="node.dimension.width"
              [attr.height]="node.dimension.height || 60"
              [attr.fill]="node.icon === 'primary.png'? '#e08e8e' : node.rank=='second' ? '#F4EDDB' : '#006a6a' "
              
              rx="5" ry="5"
              stroke="#000000"
              stroke-width="1">
        </rect>
        <svg:image
          *ngIf="node.icon"
          [attr.href]="node.icon"
          [attr.x]="5"
          [attr.y]="5"
          [attr.width]="node.imageWidth || 20"
          [attr.height]="node.imageHeight || 20"
          preserveAspectRatio="xMidYMid meet"
          class="node-image">
        </svg:image>
        <svg:text alignment-baseline="central"
                  [attr.x]="30"
                  [attr.y]="node.dimension.height / 2"
                  [attr.fill]="node.rank=='second'?'#000000':'#F4EDDB'"
                  >
          {{ node.label }}
        </svg:text>
      </svg:g>
    </ng-template>
    

    <ng-template #linkTemplate let-link>
      
      <svg:g class="edge">
        <svg:path class="line"
                  [attr.stroke]="link.primary ? '#007acc' : '#666'"
                  stroke-width="2"
                  [attr.marker-end]="!link.reverseArrow ? 'url(#arrow-forward)' : null"
                  [attr.marker-start]="link.reverseArrow ? 'url(#arrow-reverse)' : null">
        </svg:path>
        <svg:text class="edge-label" text-anchor="middle" [attr.fill]="link.color || '#000'">
          <textPath
            class="text-path"
            [attr.href]="'#' + link.id"
            [style.dominant-baseline]="link.dominantBaseline"
            startOffset="50%">
            {{ link.label }}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
