
  .back-button {
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: right;
    margin-left: auto;
    font-weight: bold;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background: linear-gradient(135deg, #72b8ac, #5fa398);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .genogram-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  .logo {
    width: 40px;
    height: auto;
    margin-right: 15px;
  }
  .mat-icon {
    margin-top: -6px;
  }