.form-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  transition: all 0.3s ease-in-out;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: transform 0.3s ease-in-out;
}
.edit-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
  animation: slideIn 0.5s ease-in-out;
}

.form-field{
  width: 100%;
  margin: 10px 0px;
}
.mat-dialog-content {
  padding-bottom: 20px; 
}

.mat-checkbox {
  margin-top: 10px; 
}

.button-container {
  display: flex;
  justify-content: space-between;
  // gap: 10px;
  width: 100%;
  padding-top: 30px;
}

.button-container button {
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.3s ease;
  width: 45%;
}
.mat-form-field {
  width: 100%;
  margin-bottom: 30px; 
}
button[color="primary"] {
  background-color: #40877b;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button[color="warn"] {
  background-color: #f90b0b;
  color: white;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  opacity: 0.9;
}
.form-field {
  width: 100%; 
}

.mat-form-field textarea {
  resize: vertical; 
  max-height: 100px; 
  min-height: 5px;
  line-height: 1.0; 
  padding: 8px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .form-container {
    flex-direction: column; 
  }

  .button-container {
    justify-content: center; 
    flex-direction: column; 
    width: 100%; 
  }

  .button-container button {
    width: 100%; 
  }

  .form-column {
    width: 100%; 
  }
}
@media (min-width: 768px) {
  .primary-contact-box{
    color: black;
    fill:black;
    position: relative;
    left: -236px;
  }
}
.mat-checkbox-checked .mat-checkbox-background {
  background-color: black !important;
}
