<h2 mat-dialog-title class="edit-title">
  {{ data?.user?.id ? 'Edit User' : 'Add User' }}
</h2>
<mat-dialog-content>
  <form [formGroup]="editForm" class="form-container">
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="form-field w-100">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="editForm.get('name')?.hasError('required')">
            Name is required.
          </mat-error>
          <mat-error *ngIf="editForm.get('name')?.hasError('pattern')">
            Invalid Name.
          </mat-error>
          <mat-error *ngIf="editForm.get('name')?.hasError('minlength')">
            Name must be at least 3 characters long.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field w-100">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
          <mat-error *ngIf="editForm.get('address')?.hasError('required')">
            Address is required.
          </mat-error>
        </mat-form-field>
        <br>
        <div class="form-group">
          <label>Profile Image</label>
          <input
            *ngIf="!profileImage"
            type="file"
            (change)="onFileSelected($event)"
            class="form-control"
          />

          <div class="image-preview" *ngIf="profileImage">
            <div class="image-container">
              <img [src]="profileImage" alt="Profile Image" />
              <button
                type="button"
                class="remove-image-btn"
                (click)="removeImage()"
              >
                ✖
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="form-field w-100">
          <mat-label>Nationality</mat-label>
          <input matInput formControlName="nationality" />
          <mat-error *ngIf="editForm.get('nationality')?.hasError('required')">
            Nationality is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field w-100">
          <mat-label>Language</mat-label>
          <mat-select formControlName="language">
            <mat-option value="English">English</mat-option>
            <mat-option value="German">German</mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('language')?.hasError('required')">
            Language is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field w-100">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="editForm.get('dateOfBirth')?.hasError('required')">
            Date of Birth is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="button-container">
  <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" type="submit" (click)="onSave()">Save</button>
</mat-dialog-actions>
