<div class="header-container">
  <h5 class="genogram-title">ChildCare</h5>
  <button mat-raised-button color="accent" (click)="toggleView()">
    {{ tableView ? 'Child Overview' : 'Child Details' }}
  </button>
</div>

<mat-card class="container" *ngIf="!tableView">
  
  <mat-card-header class="children-details-header">
    <strong>Children Details</strong>
    <button mat-raised-button class="add-button" color="primary" (click)="addChild()">
      <span>Add Child</span>
    </button>
  </mat-card-header>

  <div class="grid">
    <mat-card class="card" *ngFor="let child of children">
      <div class="card-content" (click)="navigateToChild(child.id)">
        <p>{{ child.name }}</p>
        <img [src]="child.imagePath" alt="Child Image" class="user-image" />
      </div>
    </mat-card>
  </div>
</mat-card>

<mat-card *ngIf="tableView" class="table-card">
  <div class="table-card">
    <mat-card-header class="children-details-header">
      <strong>Children Details</strong>
      <button mat-raised-button class="add-button" color="primary" (click)="addChild()">
        <mat-icon>add_circle</mat-icon><span>Add Child</span>
      </button>
    </mat-card-header>

    <div class="table-container">
      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let child">{{ child.name }}</mat-cell>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
          <mat-cell *matCellDef="let child">{{ child.address }}</mat-cell>
        </ng-container>

        <!-- Nationality Column -->
        <ng-container matColumnDef="nationality">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nationality</mat-header-cell>
          <mat-cell *matCellDef="let child">{{ child.nationality }}</mat-cell>
        </ng-container>

        <!-- Language Column -->
        <ng-container matColumnDef="language">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Language</mat-header-cell>
          <mat-cell *matCellDef="let child">{{ child.language }}</mat-cell>
        </ng-container>

        <!-- Date of Birth Column -->
        <ng-container matColumnDef="dateOfBirth">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</mat-header-cell>
          <mat-cell *matCellDef="let child">{{ child.dateOfBirth | date }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <div class="table-actions">
              <mat-form-field appearance="outline">
                <mat-icon matPrefix class="searchbar-icon">search</mat-icon>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search">
              </mat-form-field>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let child" class="button-custom row-padding">
            <button mat-raised-button color="primary" (click)="navigateToChild(child.id)">
              View
            </button>
            <button mat-raised-button color="warn" (click)="Delete(child)">
              Delete
            </button>
          </mat-cell>
        </ng-container>

        <!-- Header and Row Definitions -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="row-padding"></mat-row>

      </mat-table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>

